* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  background: #fff;
  justify-content: space-between;
  
}

header img {
  width: 64px;
  height: 64px;
  margin-left: 15px;
}

nav {
  margin-left: auto;
  
}

nav ul {
  list-style: none;
  display: flex;
  
}

nav a {
  width: 100px;
  text-align: center;
  line-height: 64px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  background: silver;
}


.heading {
  position: relative;
  background-image: url(../img/slot1.jpg);
  background-size: cover;
  height: 300px;
  margin-bottom: 20px;
}

.heading::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(126, 128, 129);
  opacity: 0.3;
  
}

.heading img {
  width: 100%;
  height: 00%;
}

.heading h1 {
  position: absolute;
  width: 89%;
  left: 50%;
  top: 23%;
  transform: translate(-50%, 20px);
  color: red;
  background: -webkit-linear-gradient(0deg,red, orange, yellow, limegreen, green, blue, rgb(58, 18, 167) ,purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 50px;
}

.container ul {
  list-style: none;
  display: flex;
  font-size: 20px;
}

.menu li a {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
}

.menu li:last-child a {
  margin-right: 0;
}

.menu li a.active {
  background: #333;
  color: #fff;
  border-radius: 4px 4px 0 0;
}

.menu li a:not(.active):hover {
  opacity: 0.5;
  transition-property: opacity 0.4s;
}

.content.active {
  background: #333;
  color: #fff;
  min-height: 150px;
  display: block;
}

.content {
  display: none;
}

.content a {
  text-decoration: none;
  color: #fff;
}

.career {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  padding: 10px;
  line-height: 2em;
}

.about {
  text-align: left;
  font-weight: normal;
  font-size: 15px;
  padding: 10px;
  line-height: 2em;
}

.lead-form {
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
}

form {
  width: 460px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.item {
  overflow: hidden;
  margin-bottom: 20px;
}

.label {
  float: left;
  margin-right: 10px;
  width: 150px;
  border-left: solid 3px skyblue;
  padding-left: 10px;
}

textarea {
  width: 289px;
}

.inputs {
  border-radius: 5px;
  
}

.btn {
  text-align: center;
}

input[type="submit"] {
  background: #e0505c;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 auto;
  position: absolute;
  top: 78%;
  left: 56%;
  border-radius: 4px;
}

footer {
  width: 100%;
  height: 120px; 
  text-align: center;
  padding: 50px 0;
  color: #333;
  background-color: silver;
}


